*~
.#*
## the next line needs to start with a backslash to avoid looking like
## a comment
\#*#
*.pyc
*.pyo
.*.swp

/parts
/.installed.cfg
/develop-eggs
/*.egg-info
/*.egg
/eggs
/bin
/include
/lib
/local
/build
/dist
/.virtual
